.App {
  text-align: center;
}

#header {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 5px double #93c4fb;
  padding: 10px;
  margin: 5px;
  color: #93c4fb
}

.active {
  color: #88bfff
}

a {
  color: black;
}