* {
    font-weight: normal;
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
}

html {
    background-color: white;
    color: black;
    max-width: 100%;

}

Header {
    border: 8px double rgb(249, 80, 175);
    border-radius: 10%;
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 4pt;
    line-height: 16.;
    letter-spacing: .35em;
    text-shadow: 2px 2px 4px rgb(86, 86, 86);
    font-family: 'Charm', cursive;
    padding: 10pt;
    position: relative;
}

p {
    text-align: right;
    font-size: larger;
    font-weight: bolder;
    text-align: right;
    padding: 5px;
}

header :not(h2) {
    text-transform: uppercase;
    font-size: 2.5em;
}

h1+h2 {
    font-size: 2.25em;
}

nav {
    position: fixed;
    border: 0px solid rgb(249, 80, 175);
    padding: 0;
    padding-top: em;
    font-size: 12pt;
    font-weight: normal;
}


.category,
.item {
    text-align: center;
    margin-top: 3em;
    font-size: large;
    font-family: "lucida calligraphy", cursive;

}

.category img,
.item img {
    border: 3px solid rgb(249, 80, 175);
    padding: 0;
    height: 200px;
    width: 175;
    margin-top: 0;
    margin-bottom: .5em;
}

.category>h3 {
    padding-bottom: 10px;
    margin-top: 2em;
}

h3:first-child {
    margin-top: 3em;
}

.category img,
.item img {
    border: 3px solid rgb(249, 80, 175);
    height: 200px;
    width: 175;
    margin-top: 4pt;
    margin-bottom: .5em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover img {
    transform: scale(1.1);
}

a:hover {
    color: rgb(90, 90, 90);
}


body {
    background-image: url("../images/Background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

video {
    border: 3px solid rgb(249, 80, 175);
    height: 10em;
    width: 13;
}

.video {
    text-align: center;
    padding: 10px;
    margin-top: 3em;
    margin-bottom: .5em;
}

.toTop {
    text-align: right;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: larger;
    font-weight: bolder;
}


@media screen and (min-width: 800px) {
    .category {
        display: inline-block;
        width: 33%;
    }
}