html {
    scroll-padding-top: 40px;
}

body {
    width: 80%;
    margin: auto;
    font-family: helvetica, arial, sans-serif;
}

nav,
footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 3px 10% 3px 10%;
    position: fixed;
    left: 0;
    z-index: 2;
    height: 25px;
    padding-top: 5px;
}

nav {
    top: 0;
}

ul {
    margin-top: 0px;
    width: 80%;
    padding-left: 0px;
    list-style: none;
}

li {
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 2px;
    padding-right: 16px;
}

footer {
    bottom: 0;
}

a:hover {
    text-decoration: underline;
    color: red;
}

header,
#signUp {
    display: grid;
    background-color: lightgray;
    justify-content: center;
    padding: 20px;
    align-content: center;

}

header {
    margin-top: 25px;
    border-radius: 0px 0px 20px 20px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
}

header span {
    font-style: italic;
}

.myProducts {
    display: grid;
    margin-bottom: 30px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
        "computer"
        "choir"
        "candy";
}

.myProducts img,
.myProducts video {
    width: 100%;
}

.myProducts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: justify;
}

.myProducts div:nth-child(1) {
    grid-area: computer;
}

.myProducts div:nth-child(2) {
    grid-area: choir;
}

.myProducts div:nth-child(3) {
    grid-area: candy;
}

#signUp {
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}

#signUp label {
    display: block;
    padding: 5px;
}

label input {
    box-shadow: 5px 5px 3px black;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-radius: 5px;
}

input[type="submit"] {
    margin: 5px;
    border-radius: 5px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    box-shadow: 5px 5px 4px lightgrey;
}

caption {
    font-weight: bold;
    margin: 1em;
}

table {
    padding: .5em;
    border-collapse: collapse;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

td,
th {
    border: 2px solid black;
}

tbody tr:nth-child(2n+1) {
    background-color: lightgray;
}

table tr:hover {
    background-color: aqua;
}

td,
tfoot th {
    text-align: right;
}

thead,
td:first-child {
    text-align: center;
    font-weight: bold;
}

td:last-child,
tfoot th:last-child {
    color: red;
}

article {
    margin-bottom: 35px;
}

@media screen and (min-width: 1000px) {
    #signUp label {
        display: inline;
    }

    .myProducts {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "computer choir candy";
    }

    .myProducts div:not(div:last-child) {
        border-right: 2px solid black;
    }
}