html {
    background-color: white;
    color: black;
    max-width: 100%;
}

Header {
    border: 8px double rgb(249, 80, 175);
    text-transform: uppercase;
    border-radius: 10%;
    color: black;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-bottom: 2pt;
    line-height: 16.;
    letter-spacing: .35em;
    text-shadow: 2px 2px 4px rgb(86, 86, 86);

}

nav {
    border: 0px solid rgb(249, 80, 175);
    padding: 0;
    padding-top: em;
    font-size: 12pt;
    font-weight: normal;

}

.category {
    text-align: center;
    margin-top: 3em;
    font-size: large;

}

.category img,
.item img {
    border: 3px solid rgb(249, 80, 175);
    padding: 0;
    height: 200px;
    width: 175;
    margin-top: 0;
    margin-bottom: .5em;
}

a {
    text-decoration: none;

}

a:visited {
    color: black;
}

a:hover {
    color: rgb(121, 121, 121);
}

body {
    background-image: url("../images/Background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}